<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="utf-8">
	<title>DOCUMENTO</title>
	 <meta name="viewport" content="width=device-width, user-scalable=no,initial-scale=1.0 , maximum-scale=1.0,minimum-scale=1.0">
	 <link rel="stylesheet"  href="css/bootstrap.min.css">
     <link rel="stylesheet"  href="css/bod.css">

</head>
<body>

   <header>
   </header>

      <div class="container">

          <div class="row">


              <aside id="col-izq" class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
                 <div id="menu" class="">

                         <ul class="nav" ><br><br>
                          
                                    <li ><a href="alambres.php">ALAMBRES</a></li><br>
                                    <li><a href="malla.php">MALLAS</a> </li><br>
                                    <li><a href="concertinas.php">CONCERTINAS</a></li><br>
                                    <li><a href="accesorios.php">ACCESORIOS</a></li><br>



                      </ul>

                      
                        <a href="galeria.php"> <img src="images/galeria.jpg"></a>                                        
                        <hr>
                        <a href="sucursal.php"> <img src="images/sucursalesPNG.png"></a>
                        <hr>
                        <a href="contactos.php" > <img src="images/contactoPNG.png"></a>    
                  
                 </div>




             </aside>




                 <section id="col-der" class="col-xs-12 col-sm-9 col-md-10 col-lg-10">
         	             	 <div class="row">
         	             	     <div class="col-xs-12 col-sm-4 col-md-8 col-lg-8 " style="padding-left: 0px;">



         	             	     	 <div id="contenedor">
    <div id="myCarousel" class="carousel slide">
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li>
      </ol>
      <!-- Carousel items -->
      <div class="carousel-inner">
        <div class="active item"><img  src="images/portal1.png" alt="alamfer para muchos" /></div>
        <div class="item"><img  src="images/portal7.png" alt="banner2" /></div>
        <div class="item"><img  src="images/portal6.png" alt="banner3" /></div>
        <div class="item"><img  src="images/portal5.png" alt="banner4" /></div>
        <div class="item"><img  src="images/portal4.png" alt="banner5" /></div>
      </div>
      <!-- Carousel nav -->
      <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>
</div>
 
<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<script>
    $(document).ready(function(){
        $('.myCarousel').carousel({
            interval: 2000
        });
    });
</script>





         	             	     </div>
         	             	     <section id="fondo">
                                 <div class="col-xs-12 col-sm-2 col-md-4 col-lg-4"  style="padding-left: 0px;">
                                        
                                        <div  style="position: absolute;"> 
                                         
         	             	              <h2 style=" text-align: 5px; ">
                                                   <span >
                                                        <strong> <br>
                                                           
                                                           <a  style=" color: #fff; margin-left: 10px;  text-decoration: none;">Alambre Galvanizado</a>
                                                        </strong>
                                                   </span>                                        
                                          </h2> 
                                                    <span>
                                                  	     <strong  "><br><br><br><br>
                                                  	         <a href="alambres.php" style=" color: #fff; background:#b06339; margin-left: 10px; padding: 3px; text-decoration: none; "> SABER MAS</a>
                                                  	     </strong>
                                                   </span>

                                          </div>
                                          
                                                <div>
                                  	              <img  style="display: block;   " src="images/alambre.jpg" class="img-responsive" >
                                  	             </div>
                                            
                                 </div>  
                                 </section>                           	
         	             	 </div>
                               <br>   
         	             	 <div class="row">
                                 <section id="fondo">
         	             	     <div  class="col-xs-12 col-sm-4 col-md-4 col-lg-4 " style="padding-left: 0px;">

         	             	       <div  style="position: absolute;"> 

         	             	              <h2 style=" text-align: 5px; ">
                                                   <span >
                                                        <strong> <br>
                                                           
                                                           <a  style=" color: #fff; margin-left: 10px;  text-decoration: none;">Malla Electrosoldada</a>
                                                        </strong>
                                                   </span>                                        
                                          </h2> 
                                                    <span>
                                                  	     <strong  "><br><br><br><br>
                                                  	         <a  href="mallaelectrosodada.php" style=" color: #fff; background:#b06339; margin-left: 10px; padding: 3px; text-decoration: none; "> SABER MAS</a>
                                                  	     </strong>
                                                   </span>
                                     </div>
         	             	     	      <img  style="display: block;" src="images/mallaelectrosodada.jpg" class="img-responsive" >
         	             	     	     
         	             	     </div>
                                  </section>
                                   <section id="fondo">
         	             	     <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 " style="padding-left: 0px;">
         	             	           <div  style="position: absolute;"> 

         	             	              <h2 style=" text-align: 5px; ">
                                                   <span >
                                                        <strong> <br>
                                                           
                                                           <a  style=" color: #fff; margin-left: 10px;  text-decoration: none;">Mallas Olimpica</a>
                                                        </strong>
                                                   </span>                                        
                                          </h2> 
                                                    <span>
                                                  	     <strong  "><br><br><br><br>
                                                  	         <a  href="mallaolimpica.php" style=" color: #fff; background:#b06339; margin-left: 10px; padding: 3px; text-decoration: none; "> SABER MAS</a>
                                                  	     </strong>
                                                   </span>
                                     </div>
         	             	     	 <img style="display: block;" src="images/mallaolimpica.jpg" class="img-responsive" >
         	             	     </div>
                                   </section>
                                      <section id="fondo">
                                 <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"  style="padding-left: 0px;">
                                        <div  style="position: absolute;"> 

         	             	              <h2 style=" text-align: 5px; ">
                                                   <span >
                                                        <strong> <br>
                                                           
                                                           <a  style=" color: #fff; margin-left: 10px;  text-decoration: none;">Mallas Cuadrada</a>
                                                        </strong>
                                                   </span>                                        
                                          </h2> 
                                                    <span>
                                                  	     <strong  "><br><br><br><br>
                                                  	         <a  href="mallacuadrada.php" style=" color: #fff; background:#b06339; margin-left: 10px; padding: 3px; text-decoration: none; "> SABER MAS</a>
                                                  	     </strong>
                                                   </span>
                                     </div>
                                  	  <img style="display: block;" src="images/mallacuadrada.jpg" class="img-responsive" >
                                 </div> 
                                  </section>                            	
         	             	 </div>
         	             	        
         	             	           <div class="subtitulo" style="text-align: center; background-color: #277575 ;" >
         	             	               <h4 style="color:#fff; background: #2c2e83;">Familia de Productos</h4>
         	             	            </div> <br>
                           <section id="categoria">   

         	             	<div class="row familia">

                                      <section id="fond">
                                     <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3" style="text-align: center;">
                                         <a href="alambregalvanizado.php"  title="Alambres"  style="color: #29333e;text-decoration: none;">Alambre Galvanizado
                            	         <img style="display: block;" src="images/galvanizado.jpg" class="img-responsive" alt height="200">
                            	         </a>
                                     </div>
                                     </section>
                                        <section id="fond">
                                     <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3" style="text-align: center;">
                                          <a href="alambreplastificado.php"  style="color: #29333e;text-decoration: none;">Alambre Plastificado
                            	         <img style="display: block;" src="images/plastificado.jpg" class="img-responsive" >
                            	         </a>
                                     </div>
                                        </section>
                                        <section id="fond">
                                     <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3" style="text-align: center;">
                                           <a href="alambreindustrial.php"  style="color: #29333e;text-decoration: none;">Alambres Industrial
                            	         <img style="display: block;" src="images/industrial.jpg" class="img-responsive" >
                            	         </a>
                                     </div>
                                      </section>
                                         <section id="fond">
                                      <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3" style="text-align: center;">
                                          <a href="alambremotto.php"  style="color: #29333e;text-decoration: none;">Alambres con Puas
                            	         <img style="display: block;" src="images/motto.jpg" class="img-responsive" >
                            	         </a>
                                     </div>
                                      </section>

                            </div>

                              <hr>
                            <div class="row familiados">
                                       
                                       <section id="fond">
                                     <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3" style="text-align: center;">
                                         <a href="mallaolimpica.php" title="Mallas" style="color: #29333e;text-decoration: none;">Malla Olimpica
                            	         <img style="display: block;" src="images/mallaolimpica1.jpg" class="img-responsive" alt height="200">
                            	         </a>
                                     </div> </section>
                                      <section id="fond">

                                     <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3" style="text-align: center;">
                                         <a href="mallaganadera.php" title="Mallas" style="color: #29333e;text-decoration: none;">Malla Ganadera
                            	         <img style="display: block;" src="images/aa1.jpg" class="img-responsive" >
                            	         </a>
                                     </div> </section>
                                     <section id="fond">

                                     <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3" style="text-align: center;">
                                         <a href="mallagallinera.php" title="Mallas" style="color: #29333e;text-decoration: none;">Mallas Gallinera
                            	         <img style="display: block;" src="images/mallagalvanizada1.jpg" class="img-responsive" >
                            	         </a>
                                     </div> </section>
                                     <section id="fond">

                                      <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3" style="text-align: center;">
                                         <a href="mallacuadrada.php" title="Mallas" style="color: #29333e;text-decoration: none;">Malla Cuadrada
                            	         <img style="display: block;" src="images/mallacuadrada1.jpg" class="img-responsive" >
                            	         </a>
                                     </div> </section>
                                   

                            </div>
                              <hr>

                           </section> 
                 </section>
                <br><br><br>
                 <section class="barra abajo">
                 	
                 </section>
     	
          </div>
      
      </div>






  
   <script src="js/jquery.js"></script>
   <script src="js/bootstrap.min.js"></script>

</body>
</html>